<div class="admin_new">
  <div class="w-full p-2 flex items-center flex-col">
    <div class="w-full flex items-center justify-between">
      <div class="font-bold">
        <h1>スタッフ一覧ページ</h1>
      </div>
      <div class="text-center m-0 bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
        <button><%= link_to "新規登録", new_staff_path, class: "text-white" %></button>
      </div>
    </div>
  </div>

  <div class="border-2 shadow-sm m-2 p-2 bg-white">
    <div class="flex items-center flex-col">
      <div class="mb-2">
        <h2>CSVからインポートする</h2>
      </div>
      <%= form_tag import_staffs_path, multipart: true do %>
        <div class="flex items-center">
          <%= file_field_tag :file %>
          <%= submit_tag "インポート", class:"text-white text-center m-0 bg-green-400 hover:bg-green-600 font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-responsive m-2 p-2">
    <table id="admin_table" class="table table-hover text-nowrap table-striped table-bordered">
      <thead class="bg-green-400 text-white">
        <tr>
          <th>氏名</th>
          <th>フリガナ</th>
          <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <% @staffs.each do |s| %>
        <tr>
          <th><%= s.name %></th>
          <th><%= s.name_kanak %></th>
          <th><%= s.remarks %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>  
