<h1>スタッフ新規登録</h1>


<%= form_with(model: @staff, local: true) do |f| %>
  <%= f.label :name, "氏名" %>
  <%= f.text_field :name %>

  <%= f.label :name_kanak, "フリガナ" %>
  <%= f.text_field :name_kanak %>

  <%= f.label :remarks, "スタッフ備考" %>
  <%= f.text_area :remarks %>

  <%= f.submit "登録" %>
<% end %>