<h2 class="mb-2">【ご紹介状】</h2>
<h3 class="mb-2">（<%= @admin.staff.name %>さん用）</h3>

<div class="company_table mr-8">
  <table class="table-fixed bg-white shadow-md w-full mr-4">
    <tbody>
      <tr>
        <th class="w-2/5 border p-2 mr-4">就業先企業</th>
        <td class="w-3/5 border p-2 mr-4"><%= @admin.company.name %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">業務内容</th>
        <td class="w-3/5 border p-2"><%= @admin.company.product %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">雇用契約期間</th>
        <td class="w-3/5 border p-2"><%= @admin.start.strftime('%Y年%m月%d日') %>〜<%= @admin.finish.strftime('%Y年%m月%d日') %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">試用期間</th>
        <td class="w-3/5 border p-2"><%= @admin.condition.test_period %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">就業先</th>
        <td class="w-3/5 border p-2"><%= @admin.place %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">始業・就業時間</th>
        <td class="w-3/5 p-2 flex">
          <%= l @admin.condition.start_time, format: :shift %>
          <p>〜</p>
          <%= l @admin.condition.finish_time, format: :shift %>
        </td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2 mr-4">所定労働時間を超える労働</th>
        <td class="w-3/5 border p-2 mr-4"><%= @admin.condition.over %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">勤務条件</th>
        <td class="w-3/5 border p-2">
          実働 <%= @admin.condition.w_hours %> 時間・
          休憩 <%= @admin.condition.w_rest %> 時間・
          拘束 <%= @admin.condition.sum_w_total %> 時間
        </td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">休日</th>
        <td class="w-3/5 border p-2"><%= @admin.condition.holiday %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">給与</th>
        <td class="w-3/5 border p-2"><%= @admin.salary_kinds %>　<%= @admin.salary %>円</td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">諸手当・交通費</th>
        <td class="w-3/5 border p-2"><%= @admin.koutsuhi %></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">給与締め日支払日</th>
        <td class="w-3/5 border p-2"></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">健康保険・厚生年金</th>
        <td class="w-3/5 border p-2"></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">労災保険</th>
        <td class="w-3/5 border p-2"></td>
      </tr>
      <tr>
        <th class="w-2/5 border p-2">雇用保険</th>
        <td class="w-3/5 border p-2"></td>
      </tr>
    </tbody>
  </table>

</div>
