<h1>受注一覧</h1>

<button><%= link_to "新規作成", new_admin_path %></button>


<table id="admin_table" class="m-4 table table-striped table-bordered">
  <thead>
    <tr>
      <th>会社名</th>
      <th>商品</th>
      <th>ブランド</th>
      <th>場所</th>
      <th>スタッフ名</th>
      <th>給与</th>
      <th>交通費</th>
      <th>作成者</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |a| %>
      <tr>
        <td>
          <%= link_to edit_admin_path(a) do %>
          <%= a.company.name %>
          <% end %>
        </td> 
        <td><%= a.company.product %></td> 
        <td><%= a.company.brand %></td> 
        <td><%= a.place %></td> 
        <td><%= a.staff.name %></td> 
        <td><%= a.salary %>円</td>
        <td><%= a.koutsuhi %>円</td> 
        <td><%= a.user_id %></td>
        <td><%= a.user_name %></td>
        <td><%= link_to "雇用条件書", admin_path(a) %></td>
        <td><%= link_to "削除", admin_path(a), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>