<div class="admin_new flex flex-col px-10 py-3">
  <!-- search -->
  <div class="search_area mb-3 border-2 card">
    <!-- 検索エリア -->
    <%= render 'admins/search/admin_search' %>
  </div>
  <!-- 検索結果 受注テーブル -->
  <div class="w-full flex items-center flex-col bg-gray-100">
    <div class="w-full flex items-center justify-between">
      <div class="font-bold">
        <h1>受注一覧</h1>
      </div>
      <div class="text-center m-0 bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
        <button><%= link_to "新規作成", new_admin_path, class:"text-white" %></button>
      </div>
    </div>

    <div class="w-full table-responsive">
      <table id="admin_table" class="border table_sticky table-hover table table-striped table-bordered text-nowrap">
        <thead class="bg-green-400 text-white">
          <tr>
            <th>締日</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>会社名</th>
            <th>場所</th>
            <th>商品</th>
            <th>ブランド</th>
            <th>スタッフ名</th>
            <th>給与</th>
            <th>交通費</th>
            <th>ID</th>
            <th>作成者</th>
            <th>承認ステータス</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @admin_result.each do |a| %>
            <tr>
              <td><%= a.company.closing %></td>
              <td><%= a.start %></td>
              <td><%= a.finish %></td>
              <td> 
                <%= link_to edit_admin_path(a) do %>
                <%= a.company.name.truncate(15) %>
                <% end %>
              </td> 
              <td><%= a.place %></td> 
              <td><%= a.company.product %></td> 
              <td><%= a.company.brand %></td> 
              <td><%= a.staff.name %></td> 
              <td><%= a.salary %>円</td>
              <td><%= a.koutsuhi %>円</td> 
              <td><%= a.user_id %></td>
              <td><%= a.user_name %></td>
              <td>
                <% if a.user_approval?(current_user) %>
                  <p>承認済</p>
                <% else %>
                  <p>申請中</p>
                <% end %>
              </td>
              <td><%= link_to "雇用条件書", admin_path(a) %></td>
              <td><%= link_to "削除", admin_path(a), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- excel button -->
    <div class="mt-4">
      <%= link_to 'Excel出力', admins_path(@admin_result, format: :xlsx), data: {confirm: "Excelで出力しますか？"}, class: "btn btn-primary" %>
    </div>
  </div>
</div>
