<h1>受注入力</h1>

<%= form_with(model: @admin) do |f| %>
  <h2>会社を選択してください</h2>
    <div class="field">
      <%= f.label :company_id, "会社名" %>
      <%= f.collection_select(:company_id, Company.all, :id, :name, {class: "form-control js-searchable"}) %>
    </div>

    <div class="field">
      <%= f.label :place, "出店場所" %>
      <%= f.text_field :place %>
    </div>
    <div class="field">
      <%= f.label :place_remarks, "備考" %>
      <%= f.text_field :place_remarks %>
    </div>
    <div class="field">
      <%= f.label :salary, "日給" %>
      <%= f.text_field :salary %>
    </div>
    <div class="field">
      <%= f.label :koutsuhi, "交通費" %>
      <%= f.text_field :koutsuhi %>
    </div>

    <%= f.submit "保存" %>
<% end %>
