<div class="admin">
  <h1>受注詳細</h1>
  <button><%= link_to "編集", edit_admin_path(@admin) %></button>

  <div class="grid_area">
    <div class="admin_company">
      <%= render 'admins/koyoujouken/company' %>
    </div>

    <div class="admin_staff">
      <%= render 'admins/koyoujouken/staff' %>
    </div>
    
    <div class="admin_condition">
      <h2>勤務条件</h2>
      <ul>
        <li>就業場所： <%= @admin.place %></li>
        <li>給与：<%= @admin.salary %>円</li>
        <li>交通費：<%= @admin.koutsuhi %>円</li>
      </ul>
    </div>
    <div class="admin_houkoku">
      <h2>勤務報告</h2>
    </div>
  </div>
</div>