<div class="admin">
  <h1>受注詳細</h1>
  <button><%= link_to "編集", edit_admin_path(@admin) %></button>

  <div class="grid_area">
    <div class="admin_company w-full">
      <%= render 'admins/koyoujouken/company' %>
    </div>

    <div class="admin_staff w-full">
      <%= render 'admins/koyoujouken/staff' %>
    </div>
    
    <div class="admin_condition w-full">
      <h2>勤務条件</h2>
      <ul>
        <li>就業場所： <%= @admin.place %></li>
        <li>給与：<%= @admin.salary %>円</li>
        <li>交通費：<%= @admin.koutsuhi %>円</li>
      </ul>
    </div>
    <!-- 申請ボタン -->
    <div class="admin_button flex items-center">
      <div class="back_button mr-4">
        <%= link_to "戻る", "javascript:history.back()" , data: { confirm: "戻りますか？" } ,class: "bg-gradient-to-r from-green-400 to-green-600 ... hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="apply_button mr-4">
        <% if @admin.user_belonging?(current_user) %>
          <p>すでに申請済です</p>
          <%= link_to '取り消す', admin_belongings_path(@admin, @belongings),
              method: :delete, data: { confirm: "申請を取り消しますか？" },
              class: "btn btn-primary" %>
        <% elsif current_user %>
          <% if @apply %>
            <%= link_to '申請取り消し', admin_apply_path(@admin, @apply), method: :delete %>
          <% else %> 
            <%= link_to '申請', admin_applies_path(@admin), method: :post,
                data: { confirm: "#{@admin.company.name}の申請を提出しますか？" },class: "bg-gradient-to-r from-green-400 to-green-600 ... hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %> 
          <% end %>
        <% end %>
      </div>
      <!-- 申請待ちリンク -->
      <% if current_user.admin? %>
        <%= link_to "承認待ちリスト", admin_applies_path(@admin), class: "btn btn-primary" %>
        <%= link_to "承認済リスト", admin_belongings_path(@admin), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>