<%= form_with(model: @admin) do |f| %>
<div class="w-full bg-white admin_input bg-white shadow-sm mr-2 border p-0">
  <div class="w-full flex items-center admin_hd p-2">
    <i class="far fa-calendar-check text-2xl mr-2"></i>
    <h3>勤務報告</h3>
  </div>
  <div class="admin_body p-4">
    <%= f.fields_for :report do |r| %>
      <div class="flex items-center mb-3 w-full">
        <div class="w-3/12">
          <%= r.label "勤務日数", class: "text-sm w-full block text-left text-gray-500 font-bold mb-1" %>
        </div>
        <div class="w-2/3">
            <%= r.number_field :days, class: "border-2 text-sm border-gray-200 rounded w-full py-1 px-1 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
      <div class="flex items-center mb-3 w-full">
        <div class="w-3/12">
          <%= r.label "勤務時間", class: "block text-left text-sm text-gray-500 font-bold mb-1 pr-4" %>時間
        </div>
        <div class="w9/12">
            <%= r.number_field :times, class: "border-2 text-sm border-gray-200 rounded w-full py-1 px-1 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
      <div class="flex items-center mb-3 w-full">
        <div class="w-3/12">
          <%= r.label "交通費", class: "block text-left text-sm text-gray-500 font-bold mb-1 pr-4" %>
        </div>
        <div class="w9/12">
            <%= r.number_field :c_costs, class: "border-2 text-sm border-gray-200 rounded w-full py-1 px-1 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
      <div class="flex items-center mb-3 w-full">
        <div class="w-3/12">
          <%= r.label "備考", class: "block text-left text-sm text-gray-500 font-bold mb-1 pr-4" %>
        </div>
        <div class="w-9/12">
            <%= r.text_area :remark, class: "w-full h-40 border-2 text-sm border-gray-200 rounded py-1 px-1 text-gray-900 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
