<div class="admin_new">
  <div class="w-full p-2 flex items-center flex-col">
    <div class="w-full flex items-center justify-between">
      <div class="font-bold">
        <h1>クライアント</h1>
      </div>
      <div class="text-center m-0 bg-blue-500 shadow-sm hover:bg-blue-700 font-bold py-2 px-4 rounded">
        <button><%= link_to "新規登録", new_company_path, class: "text-white" %></button>
      </div>
    </div>
  </div>
  
  <div class="border-2 shadow-sm m-2 p-2 bg-white">
    <div class="flex items-center flex-col">
      <div class="mb-2">
        <h2>CSVからインポートする</h2>
      </div>
      <%= form_tag import_companies_path, multipart: true do %>
        <div class="flex items-center">
          <%= file_field_tag :file %>
          <%= submit_tag "インポート", class:"shadow-sm text-white text-center m-0 bg-green-500 hover:bg-green-700 font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-responsive m-2 p-2">
    <table id="admin_table" class="table table-hover text-nowrap table-striped table-bordered">
      <thead>
        <tr>
          <th>会社名</th>
          <th>フリガナ</th>
          <th>商品</th>
          <th>ブランド</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |c| %>
          <tr>
            <td><%= c.name %></td>
            <td><%= c.name_kana %></td>
            <td><%= c.product %></td>
            <td><%= c.brand %></td>
            <td><%= link_to "詳細", company_path(c) %></td>
            <td><%= link_to "編集", edit_company_path(c) %></td>
            <td><%= link_to "削除", company_path(c), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>





