<nav class="p-2 border-b-2">
  <ul class="flex items-center justify-center m-1">
    <li><%= link_to '承認待ち' %></li>｜
    <li><%= link_to '承認済み' %></li>｜
    <li><%= link_to '社員情報' %></li>｜
    <li><%= link_to '管理者権限' %></li>
  </ul>
  <ul class="flex items-center justify-center m-1">
    <li><%= link_to '受注リスト', admins_path %></li>｜
    <li><%= link_to '受注入力', new_admin_path %></li>
  </ul>
</nav>