<!DOCTYPE html>
<html>
  <head>
    <title>ManaBeta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <!-- ログイン後のみヘッダーを表示 -->
    <%= render 'layouts/mana_header' if current_user %>
    <%= render 'layouts/secound_header' if current_user %>
    <div>
      <%= render 'layouts/error_message' %>
      <div class="min-h-screen main_contents z-10">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' if current_user %>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
