<!DOCTYPE html>
<html>
  <head>
    <title>ManaBeta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div>
      <div x-data="{ sidebarOpen: false }" class="flex min-h-screen bg-gray-100">
        <%= render 'layouts/header' %>
        <div class="flex-1 flex flex-col overflow-scroll">
          <%= render 'layouts/secound_header' %>
          <div class="min-h-screen">
             <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>
</html>
